<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
    <div th:fragment="footer">
        <div style="height: 35vh;">

            <div class="row justify-content-center" style="margin-top: 2%;">
                <h3 style="color: var(--blue); margin-top: 3%; font-size: 2vw;">Developed by</h3>
            </div>

            <div class="row justify-content-center">
                <h4>p1-Drone</a></h4>
            </div>

        </div>
    </div>
</body>
</html>