<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #72bdc8;">
        <a class="navbar-brand" href="#">Drone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/labs/NakulRecursion">Nakul Recursion Lab</a>
                <a class="nav-item nav-link" href="/labs/AryanRecursion">Aryan Recursion Lab</a>
                <a class="nav-item nav-link" href="/labs/PranavRecursion">Pranav Recursion Lab</a>
                <a class="nav-item nav-link" href="#">Michael Recursion Lab</a>
            </div>
        </div>
    </nav>
</div>