<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h1>Create a new user entry in the DB (live to AWS RDS)</h1>
<form class="userDetails" action="/db/create" method="GET">
    <input type="text" id="firstName" name="firstName" placeholder="First Name"/>
    <input type="text" id="lastName" name="lastName" placeholder="Last Name"/>
    <input type="text" id="userName" name="username" placeholder="Username"/>
    <input type="text" id="password" name="password" placeholder="Password"/>
    <input type="text" id="email" name="email" placeholder="Email address"/>
    <input type="text" id="role" name="role" placeholder="Role"/>

    <button class="submit">Create</button>
</form>
<a href="/db/listAllUsers"><button>View All Data</button></a>
</body>
</html>