<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Our Process</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

        body {
            font-family: 'Montserrat', sans-serif;
            background: #d6d6d6;
        }
        .container {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            top: 25px;
            background: #eeeeee;
            border-radius: 10px;
            min-height: 75px;
            max-width: 1500px;
            box-shadow: 10px 10px 50px 10px #888888;
        }

        .container .content {
            padding: 20px;
        }

        h1 {
            font-weight: 600;
        }

        p {
            font-size: 125%;
        }

        .container .content li a {
            color: #4769ae;
            display: block;
        }

        .container .content .labButton {
            background: #72bdc8;
            border-radius: 5px;
            text-align: center;
        }

        .container .content .labButton p {
            color: white;
            padding: 5px;
        }

        footer{
            text-align: center;

        }
    </style>
</div></head>

<body>

</div><div layout:fragment="content" th:remove="tag">
    <div class="container">
        <div class="content">
            <h1>Our Development Process</h1>
            <p>
                AP Computer Science A 2020-2021 <br> Instructor: John Mortensen
            <ul>
                <li><a href="https://github.com/aryan114">Aryan Amberkar</a></li>
                <li><a href="https://github.com/nakulnandhakumar">Nakul Nandhakumar</a></li>
                <li><a href="https://github.com/PranavKambhampati">Pranav Kambhampati</a></li>
                <li><a href="https://github.com/mhayescs19">Michael Hayes</a></li>
            </ul>
            </p>
        </div>
        <div>

            <h3><a href="https://github.com/PranavKambhampati/Tri3Drone/projects/1">p1Drone Project Board</a></h3>

            <h1>Overall Project Goal</h1>
            <p>
                <u><strong>Main Project Idea:</strong></u> Group Based Polling Application with Analytics
            </p>

            <p>
                <u><strong>Theme and Concept: </strong></u>
            <ul>
                <li>Group based polling application with analytics</li>
                <li>Allows admins to poll/quiz other users</li>
                <li>Goal is have a unified area of data where users can create more than one form</li>
            </ul>

            </p>

            <p>
                <u><strong>Main User Interactions:</strong></u>
            <ul>
                <li>User can create an account (Spring Security)</li>
                <li>Group admins can create a custom from for other users to fill out</li>
                <li>Group admin can view form analytics through counters (Each entry represents a question and each row represents an answer choice)</li>
                <li>Backend Database selection: MySQL driven by Hibernate POJO (SQL Repositories and JPA Repositories)</li>
            </ul>

            </p>

            <p>
                <u><strong>Key Technical Aspects:</strong></u>
            <ul>
                <li>Group admin creates a form which is saved and accessible by a certain key in the database</li>
                <li>User completes a form which is loaded on a template page which consists of the question and selection responses which is actively pulled from the database when each page is loaded</li>
                <li>As the user makes a choice, their response is stored corresponding to their user ID</li>
                <li>Form content will be stored in two tables: 1) Table which stores the form ID, admin ID, and group ID (gives visibility only to given group) 2) Table that stores all of the questions which has rows for form ID (pulled from current form), question ID (generated), question itself, given response options, response ID</li>
                <li>Form responses will be stored in a massive table in which each row contain the form ID, question ID, user ID, and the response the user selects (pulls response ID)</li>
            </ul>

            </p>

            <p>

                <u><strong>Features:</strong></u>
            <ul>
                <li>Login & account; save user in database using Spring Security</li>
                <li>SQL management of user created data</li>
                <li>Form responses: each column a question, each row a user response</li>
                <li>Storing a new form, created by user</li>
                <li>Each group: table for all of the form responses</li>
                <li>Able to view the number of people that picked a specific answer for each question</li>

            </ul>

            </p>

            <!--How do you insert a picture?-->
            <!--<img width="75%" height="auto" src="/DatabaseRelationships.JPG">-->

        </div>
        <div>
            <h1>Key Technical Aspects</h1>
            <p><u><strong>Spring Boot Security:</strong></u> We used Spring Security to keep track of the users on the program. Users can typically create a new user to access the project,
            however, the project needs to be refreshed when a new user is made. This isn't possible to do when it has been deployed, therefore, to login, users can use
            the list of pre-made user accounts.
                <script src="https://gist.github.com/PranavKambhampati/83a08c4ea8777a77d58e7cf5009ed68e.js"></script>
                <script src="https://gist.github.com/PranavKambhampati/aee8552dd9843b82ca96b0e8b40ec4dc.js"></script>
            </p>

            <p><u><strong>Database:</strong></u> We used SQL in order to model our data, however, we used RDS in order to host our database. The utilization of a databse allowed us to
            easily pull and save values in different parts of the application. For example, some things that were saved include the Users, Form Questions, Forms and Form Responses.
            Below are the model files for each:
                <script src="https://gist.github.com/PranavKambhampati/f2106d6b2c2908d7db05cf1f441c5aa9.js"></script>
                <script src="https://gist.github.com/PranavKambhampati/2d14c639b2db06117108ce9eeb6938ab.js"></script>
                <script src="https://gist.github.com/PranavKambhampati/84e44c2925b27898efa380ad2b262841.js"></script>
            </p>
            <p><u><strong>Analytic Counters:</strong></u> We used counters in order to keep track of how many users picked a specific answer choice for each question in each form.
                On the analytics page, the admin can view this by picking a form from the dashboard and looking and the counter entries. This is achieved through a
                counter class that has objects which keep track of the users' responses.
            </p>

            <p>
                <u><strong>Dynamic Form:</strong></u> The forms in the program are dynamic, which means that they allow the admin to pick the number of questions that their form has (with a maximum value of 10).
                This is valuable because it provides a cleaner UI to work with. The dynamic aspect of the form creation was accomplished through the use of CSS and JS, allowing us to hide
                the questions that weren't going to be used by the admin.
            </p>
        </div>
    </div>
</div></div>




</div>

</body>
</html>