<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Test</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

        body {
            font-family: 'Montserrat', sans-serif;
            background: #d6d6d6;
        }

        p {
            font-size: 125%;
        }
    </style>
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <p>
        Actual route is /Labs/test, but GetMapping is "/test" in LabsController
    </p>
</div></body>
</html>